<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="gui" default="False" />
	<param name="use_gui" value="$(arg gui)"/> 
	<!-- Load URDF file -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mir100_jaco7_description)/urdf/mir_jaco.urdf.xacro" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mir_description)/rviz/mir_description.rviz" required="true" />
</launch>