<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>

  <!-- marker detect -->
  <node pkg="mir100_jaco7_app" type="marker_detect_node" name="marker_detect_node" output="$(arg log_type)" />

  <!-- Caster man app -->
  <node pkg="mir100_jaco7_app" type="mir100_jaco7_app_node" name="mir100_jaco7_app_node" output="$(arg log_type)">
    <rosparam file="$(find mir100_jaco7_app)/config/mir100_jaco7_app.yaml" command="load" />
  </node>
</launch>